<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/log.css">
    <link rel="stylesheet" href="css/addBook.css">

</head>
<body>

    <!-- Navbar -->
    <nav>
        <button type="button" class="btn btn-lg  text-white float-right m-4"><i class="fa fa-bars"></i></button>  
        <ul>
            <%for( i = 0; i < nav.length; i++){%>
                <li><a href="<%=nav[i].link%>"><%=nav[i].name%></a></li>
            <%}%>
        </ul>
        
    </nav>

    <!-- Header section -->
    <div class="headers">
        <header>
            <div class="rect"></div>
            <h1 class="heading"><%=head%></h1>        
        </header>
    </div>

    <!-- Body content-->
    <div class="content" style="background-image: url('img/bg3.jpg');">
        
        <!-- show case -->

        <form action="/new/book" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-1 col-sm-1 col-md-2 col-lg-2"></div>
            <div class="col-10 col-sm-10 col-md-8 col-lg-8 main">
                    <div class="row box2">
                            <div class="col text-center text-info m-4"><br>
                                <h2>ADD NEW BOOK </h2><hr class="border-primary">
                             </div>
                        </div>

                        <%for( i = 0; i < fields.length; i++){%>
                            <div class="row box2">
                            <div class="col">
                                <input type="<%=fields[i].type%>" name="<%=fields[i].id%>" id="<%=fields[i].id%>" accept="<%=fields[i].accept%>" required>
                                    <label ><%=fields[i].label%></label>
                            </div>
                            </div><hr>
                        <%}%>                       
                                  
                        <br>
                       <div class="row box1">
                                <div class="col">
                                    <button  class="btns1"><b>Add Book</b></button>
                                </div>
                        </div>
                                   
            
                    </div>
            
            
                    <br><br>

            </div>
            <div class="col-1 col-sm-1 col-md-2 col-lg-2"></div>
            
        </form><br>
    </div>

    <footer>
        
    </footer>
    <script >
        let img=document.getElementById("authorImg");
        
        function fun(){
          console.log(img.value)  
        }
        console.log(img.value)
    </script>
    sc
</body>

</html>